<h1>Profile</h1>
<p id="notice"><%= notice %></p>
<h2><%= @user.full_name %></h2>
 
<p> Username: <%= @user.username %></p> 
<p> Email: <%= @user.email %></p> 
<p> Country: <%= @user.country %></p> 
<p> Bio: <%= @user.bio %></p> 


 