<h3>Edit Garden form</h3>
 
<%= form_for(@garden) do |f| %>
  <label>Garden Name:</label>
  <%= f.text_field :name %><br>

  <label>Garden category (tropical, vegatables, fruits etc.):</label>
  <%= f.text_field :category %><br>

  <label>Select by alternative name:</label><br>
  <% @garden.plants.each do |plant| %>
    <%= plant.tfvname %> <br>
  <% end %>

  <%= link_to "Add/remove plants" %>
  <%= f.submit %>

<% end %>
