<h3>New Garden form</h3>
 
<%= form_for(@garden) do |f| %>
  <label>Garden Name:</label>
  <%= f.text_field :name %><br>

  <label>Garden category (tropical, vegatables, fruits etc.):</label>
  <%= f.text_field :category %><br>

  <label>Select plant by name:</label>
  <%= f.collection_select :plant_id, Plant.all, :id, :tfvname %><br>
 
  <%= f.submit %>
<% end %>



