<h1>Your Garden:</h1>
<h3>Your garden's name:</h3>
<%=@garden.name%><br>
<h4>Your garden category</h4>
<%=@garden.category %><br>

<%= link_to "Edit name/category", edit_garden_path %>

<h3>Your garden contains these plants:</h3>
<% @garden.plants.each do |plant|%>
    <%= plant.tfvname %><br>
</form>
<% end %>
<%= link_to "Add a plant", add_plant_path %>
<h4>Delete Garden:</h4>
<%= button_to "delete", garden_path(@garden), :method => :delete %>

</form>
